.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.locationText {
  display: flex;
  gap: 8px;
  align-items: center;

  .label {
    color: $text;
  }

  .value {
    color: $text;
  }
}

.mapWrapper {
  width: 100%;
  height: 300px;
  border-radius: $radius-md;
  overflow: hidden;
  border: 1px solid $border;
  div {
    z-index: 1;
  }
}

// .openInMaps {
//   display: inline-flex;
//   align-items: center;
//   gap: 6px;
//   padding: 8px 16px;

//   border: 1px solid var(--border-color, #e0e0e0);
//   border-radius: 6px;
//   color: $primary;
//   text-decoration: none;
//   transition: all 0.2s ease;
//   align-self: flex-start;

//   &:hover {
//     background-color: var(--background-hover, #ebebeb);
//     transform: translateY(-1px);
//   }

//   svg {
//     flex-shrink: 0;
//   }
// }
