@import "@/styles/variables";

.ContactPage {
  background-color: $bg !important;
}

.contactCards {
  margin-bottom: $space-xl;
}

.cardValue {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mainContent {
  display: grid;
  grid-template-columns: 2fr 1fr;

  margin-bottom: $space-xl;
  gap: $space-lg;
  @media (max-width: $breakpoint-sm) {
    gap: $space-md;
    grid-template-columns: 1fr;

    // Reverse order on mobile
    > :first-child {
      order: 2;
    }
    > :last-child {
      order: 1;
    }
  }
}

// .formSection {
//   background: $surface;
//   border-radius: $radius-lg;
//   padding: $space-xl;
// }

// .formHeader {
//   display: flex;
//   align-items: center;
//   gap: $space-md;
//   margin-bottom: $space-lg;

//   svg {
//     color: $primary;
//   }
// }

// .form {
//   display: flex;
//   flex-direction: column;
//   gap: $space-lg;
// }

// .formGrid {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: $space-md;

//   @media (max-width: $breakpoint-sm) {
//     grid-template-columns: 1fr;
//   }
// }

// .submitButton {
//   align-self: flex-start;
//   margin-top: $space-md;
// }

.infoSection {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.infoCard {
  background: $surface;
  border-radius: $radius-lg;

  display: flex;
  flex-direction: column;
  flex: 1;
  padding: $space-lg;
  @media (max-width: $breakpoint-sm) {
    padding: $space-lg $space-md;
  }
}

.infoHeader {
  display: flex;
  align-items: center;
  gap: $space-md;
  margin-bottom: $space-lg;

  svg {
    color: $primary;
  }
}

.infoContent {
  display: flex;
  flex-direction: column;
  gap: $space-md;
}

.faq {
  margin-top: $space-xl;
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.faqList {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  width: 100%;
}
