.container {
  position: relative;
  padding: $space-sm;
  display: flex;
  flex-direction: column;
  gap: $space-xs;
  width: 100%;
  z-index: $z-popover;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // background-color: $surface;
  border-radius: $radius-md;
  width: 100%;
  // border: 1px solid $border;
  padding: $space-sm $space-md;
  gap: $space-md;
  animation: slideIn 0.3s ease-out;

  &.success {
    border-right: 10px solid $success;
    background-color: $success-bg;
  }

  &.error {
    border-right: 10px solid $error;
    background-color: $error-bg;
  }

  &.warning {
    border-right: 10px solid $warning;
    background-color: $warning-bg;
  }

  &.info {
    border-right: 10px solid $info;
    background-color: $info-bg;
  }
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: $font-sm;
  font-weight: $weight-semibold;
  color: $text;
  margin-bottom: $space-xs;
}

.message {
  padding: $space-sm $space-sm 0 $space-sm;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: $space-xs;

  &.success {
    color: $success;
  }

  &.error {
    color: $error;
  }

  &.warning {
    color: $warning;
  }

  &.info {
    color: $info;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
