@import "../../../styles/variables";

// Inline variant - for use in sidebars/headers
.inline {
  padding: $space-sm;
  background: $bg;
  border: 1px solid $border;
  border-radius: $radius-md;
  &:hover:not(:disabled) {
    background: $bg;
    border-color: $error;
    color: $error;
  }

  &.favorited {
    color: $error;
    border-color: $error;
    background: rgba(239, 68, 68, 0.1); // Light red background when favorited
  }
}
