.spacer {
  width: 100%;
  flex-shrink: 0;
  // Height = header + preheader (when both visible at top)
  height: calc(#{$header-height} + #{$pre-header-height});

  @media (max-width: $breakpoint-md) {
    height: calc(#{$header-height-mobile} + #{$pre-header-height});
  }
}
