.fxRateTicker {
  height: 20px; // height of one row
  overflow: hidden;
  position: relative;

  .tickerTrack {
    display: flex;
    flex-direction: column;
    animation: slide 6s infinite;
  }

  .tickerItem {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
