@import "../../../styles/variables";

.googleAdSense {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90px; // Minimum height for banner ads
  position: relative;
  @media (max-width: $breakpoint-sm) {
    min-height: 250px; // Rectangle ad on mobile
  }
}

.adLabel {
  position: absolute;
  right: 0;
  top: 0;
  color: $text-light;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: $radius-md;
  font-size: 6px;
  z-index: 1;
  padding: $space-xs $space-sm;
}
