@import "@/styles/variables";

.AdvertisePage {
  background-color: $bg !important;
}

.benefits {
  margin-bottom: $space-xl;
}

.packagesSection {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
  margin-bottom: $space-xl;
}

.metadata {
  text-align: center;
}

.faq {
  margin-top: $space-xl;
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.faqList {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  width: 100%;
}
