@import "../../../styles/variables";

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.skeleton {
  background-color: $border;
  animation: pulse 1.5s ease-in-out infinite;
  display: inline-block;
  border-radius: $radius-md;

  &.text {
    border-radius: $radius-md;
    transform: scale(1, 0.6);
    transform-origin: 0 50%;
  }

  &.rectangular {
    border-radius: $radius-md;
  }

  &.circular {
    border-radius: $radius-full;
  }
}
