@import "../../../../styles/variables.scss";

.deleteModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-lg;
  padding: $space-md 0;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: $space-md;
  width: 100%;

  button {
    width: 100%;
  }
}
